.service__main {
    position: relative;
    /* top: 85px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", serif;
}


/* .service__head > img {
    width: 100%;
    height: 300px;
  } */

.service__head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service__title {
    position: absolute;
    border-top: 3px solid #053742;
    border-bottom: 3px solid #053742;
}

.service__title>h3 {
    font-size: 45px;
}

.service__tabs {
    margin-top: 10px;
}

.tabs__wrapper {
    background-color: rgba(34, 171, 227, 0.2);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: none;
    border-radius: 5px;
}

.tabs__wrapper>a {
    font-size: 18px;
    font-weight: 600;
}

.tabs__inner {
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
    .tabs__inner {
        height: 1200px;
    }
    .tabs__wrapper {
        padding: 3px;
        background-color: rgba(34, 171, 227, 0.2);
    }
    .tabs__wrapper>a {
        font-size: 15px;
        border: none;
        font-weight: 600;
        border-radius: 10px!important;
    }
    /* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
  {
      border-color:  rgba(34,171,227,0.1) ;
  } */
}

.services_Grid
{
    width: 100%!important;
    /* border-radius:100px; */
    position: relative;
    /* background-color: yellow; */
    margin:2rem auto 2rem;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3,minmax(10rem,1fr));
    /* grid-gap:10px; */
    grid-row-gap: 0.5rem;
    grid-column-gap:0.5rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services_GridInner:nth-child(2n-1)
{
    background-color: var(--secondary-color);
    grid-row: span 2;
    width: 100%;
    height: 100%;
    color:white
    /* border-radius: 50%; */
}
.services_GridInner
{
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
align-items: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition:all 300ms ease;
}
.services_GridInner:hover{
    transform:scale(0.9);
}
.services_GridInner>span{
    font-size: 1.5em;
}
@media(max-width:768px)
{
    .services_Grid
{
    margin:0.6rem auto 0.6rem;
    width: 90%;    
    grid-template-columns: repeat(2,minmax(10rem,1fr));
    grid-row-gap: 0.3rem;
    grid-column-gap:0.3rem;    
}
.services_GridInner:nth-child(2n-1)
{
    background-color: var(--secondary-color);
    grid-row: span 7;
    width: 100%;
    height: 100%;
    color:white
    /* border-radius: 50%; */
}
.services_GridInner
{
    height: 90px;
    width: 100%;
    border-radius: 0px;   
    padding: 5px;
    transition:all 300ms ease;
}
.services_GridInner:hover{
    transform:scale(1);
}
.services_GridInner>span{
    font-size: 1.1em;
}
}