.services
{
    width:81%;
    height:fit-content;
    margin:auto;
    /* background-color: red; */
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}
.services>h2
{
    position: relative;
    height: fit-content;
    font-weight: 600;
    color:var(--secondary-color);
}
.services>h2::after
{
    content: '';
    position:absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    height: 5px;
    width: 40%;
    background-color: var(--primary-color);
}
.services__carousel
{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.services__carousalItem
{
    width: 100%;
    height: 300px;
    padding: 20px 0px 20px;
    /* background-color:grey; */
    display:flex; 
    
    justify-content:space-between;
    align-items:center;
    /* padding:0 40px 0; */
}
.carousel-indicators
{
    /* background-color:red; */
}
.carousel-control-next-icon
{
    /* visibility:hidden; */
    /* display:none; */
    background-color:red;
}
.carousel-control-next, .carousel-control-prev
{
    display:none;
}
.carousel-indicators [data-bs-target]
{
    background-color:black!important;
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    border-radius:50%!important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    display: none;
    visibility: hidden;
}
.services__carousalItem>div
{
    width:100%;
    height:100%;
  border:1px solid rgba(0,0,0,0.1);
  background: #053742;
    margin:5px;
    padding: 5px;
    border-radius: 7px;
    cursor:pointer;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color: white;
}
.services__carousalItem>div>h6
{
    /* font-size:var(--mobile-font); */
    padding: 10px;
}


@media(max-width:768px)
{
    .services
{
    width:95%;
    height:fit-content;
    margin:auto;
    /* background-color: red; */
    padding: 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .services__carousalItem>div
{
    width:100%;
    height:100%;
  border:1px solid rgba(0,0,0,0.1);
    margin:10px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}
.services__carousalItem
{
    width: 100%;
    height:fit-content;
    /* background-color:grey; */
    display:flex; 
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    padding:0 40px 0;
}
}