@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.aboutUs__image
{
    width: 100%;
    height: 400px;
    opacity: 0.7;
}
.aboutUs__first
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutUs
{
    position:relative;
    top:85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}
.aboutUs__heading
{
    
    position: absolute;
    border-top: 3px solid #053742 ;
    border-bottom:3px solid #053742;
}
.aboutUs__heading>h3{
    font-size: 45px;
}
@media(max-width:768px)
{

    .aboutUs__heading
{
    
    position: absolute;
    
    border-top: 2px solid #053742 ;
    border-bottom:2px solid #053742;
}
.aboutUs__heading>h3{
    font-size: 30px;
}
.aboutUs__wwa__image
{
    width: 100%;
    visibility: visible;
}
}

.aboutUs__wwa
{
    position: relative;
    height: 700px;
    width: 100%;
    background-color:rgb(128,128,128,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus__wwa__image
{
    width: 550px;
    height: 500px;
    border-radius: 10px;
}
.aboutUs__middle>ul>li
{
    list-style: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link 
{
    background-color:#22abe3 ;
}
.col-sm-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutUs__tabs
{
    /* background-color: red; */
    padding: 10px;
}
.aboutUs__tab__links1
{
    background-color:#053742;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: wheat;
}
.tabContainer
{
    position: absolute;
    top:0;
}
.tabContainer__row
{
    /* background-color:red; */
    width: 700px;
    height: 530px;
    position: absolute;
    z-index: 10;
    top: 7rem;
    right: 45px;
}
.filter-links3
{
    width: 170px;
}
.active, .navbar__links>a:hover {
    background-color: transparent;
    color: black;
}
.aboutUs__wwa__image1
{
    width: 500px;
    height: 290px;
    border-radius: 10px;
    transition: transform 1s;
}
.aboutUs__wwa__image1:hover
{
    transform:scale(1.1);
}
.aboutUs__wwa__image1__div
{
    height:300px;
    width:100%;
    border-radius: 10px;
    background-color: #22abe3;
    display: flex;
    justify-content: center;
    padding: 5px;
}

@media(max-width:500px) {
    .aboutus__wwa__image
    {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .aboutUs__wwa
    {
        /* overflow: hidden; */
    }

.tabContainer__row
{
    display: flex!important;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 230px;
    top: 2rem;
    /* right: 0px!important; */
}

.aboutUs__wwa__image1
{
    width: 80%;
    height: 150px;
}
.aboutUs__tabPane>h1
{
    font-size: 30px;
}
.aboutUs__tabPane>p
{
    font-size: 14px;
}

}