:root{
--primary-logo:#22abe3;
}

.header
{
    visibility: visible;
    padding: 15px;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    position:absolute;
}
.scrolling-active{
    background-color: white;
    box-shadow: 0 3px 1rem rgba(0, 0,0,0.7);
}

.header__logo>img
{
    position:fixed;
    left:2;
    width: 4.5rem;
    height: 4.5rem;
}

.header__right
{
    display: flex;
    justify-content:center;
    align-items:center;
    height:55px;
    position:fixed;
    right:0;
}
.navbar__links
{
    display: flex;
    flex-direction:row;
    /* flex: 1;    */
}
.navbar__links>a{
    color:var(--primary-logo);
    margin:10px;
    text-decoration:none;
    background-color:transparent ;
    padding: 10px;
    border-radius: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-weight: 500;
    font-size: 19px;
}
.carousel__caption>h3
{
    color: black;
}

.active,.navbar__links>a:hover{
    color:white;
    background-color:var(--primary-logo)  ;  
    cursor: pointer;
    transition: 0.2s ease-out;
}
.Carousel
{height:500px;}

.header__right>.header__right_button
{
    background-color: rgba(128,128,128,0.5) ;
    width:fit-content;height: 40px;
    padding: 5px;
    margin:10px;
    border-radius: 5px;
    border: none;
    font-size: 19px;
    color:var(--primary-logo);
} 
 .header__right>.header__right_button:hover
{
    background-color:var(--primary-logo);
    color:black ;
    /* font-weight: 200; */
    transition: 0.3s ease-out;
    opacity: 1;
    width: fit-content;
}

.navbar__links
{
    visibility: visible;
}

.hamburger
{
    visibility: hidden;
}

@media(max-width:768px)
{
    .hamburger
    {
        visibility: visible;
    }
    .header__right
    {
        margin-right:10px;
       margin-top: 0px;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .navbar__links
    {
        visibility: hidden;
        display: none;
    }
    .hamburger
    {
        overflow: hidden;
        z-index: 100;
    }
    .hamburger__button
    {
        padding: 8px;
        background-color: var(--primary-logo);
        border-radius: 7px;
        width: 50px;
        height: 45px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: #E8F0F2;
    }

    
    .sidenav
    {
        background-color: var(--primary-logo)!important;
        
    }
    .sidenav>a
    {
        color:#E8F0F2!important ;
    }
    
    .hamburger__links
    {
        border-top: 1px solid rgba(232.0, 240.0, 242.0, 0.5);
        
        font-size: 20px!important;
        font-weight: 600;
    }
    .hamburger__links:nth-child(5)
    {
        border-bottom: 1px solid rgba(232.0, 240.0, 242.0, 0.5);
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  
  .w-100 {
      height:700px;
      object-fit: cover;
  }
  .w-200
  {
      height:700px;
      width:100%;
  }

  .carousel-caption{
    position: absolute;
    right: 78%;
    bottom: 60%;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  @media(max-width:768px)
  {
  .carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  .carousel-control-next-icon,.carousel-control-prev-icon 
  {
      background-color:rgba(0,0,0,0.2);

  }
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.request__form
{
    display:flex;
    justify-content:center;
    position:absolute;
    top:40rem;
    right:0;
    left:0;
    z-index: 11;
    width:100%;
}

.request__form__list
{
    background-color:#f1f1f1;
    display:flex;
    width:97%;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0.75);
    height:140px;
    justify-content:space-around;
    align-items:center;
    border-radius:10px;
    position:relative;
    
    
}

.request__input
{
    width:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    width:250px;
    height:45px;
    padding:0.5rem;
    border-radius:15px;
    border:1px solid gray; 
    
}


.request__label
{
    position:absolute;
    left:1rem;
    top:2rem;
    font-size:15px;
    padding:0 .25rem;
    transition:0.3s;
    font-weight: 800;
    z-index: 1;
    /* top:0; */
}

.request__input__type
{
    position:absolute;
    outline:none;
    border:none;
    left:0.2rem;
    height:100%;
    width:100%;
    border-radius:15px;
    background:none;
    z-index:2;   
}
.request__input__type:focus + .request__label{
    top: -0.7rem;
    left:0.5rem;
    /* z-index: 2; */
    background-color:#f1f1f1;
    /* font-size: 14px; */
}
.request__input__type:not(:placeholder-shown).request__input__type:not(:focus) + .request__label
{
    top: -0.7rem;
    left:5.5rem;    
    background-color:#f1f1f1;
}

.request__form__send
{
    background-image: linear-gradient(to right, #39A2DB, #053742);
    width:150px;
    height:45px;
    border-radius:15px;
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    font-weight:700;
    cursor: pointer;
    transition: 0.5s;
}
.request__form__send>a
{
    color: white;
    text-decoration: none;
}

.request__form__send:hover
{
    background-image: linear-gradient(to right,  #053742, #39A2DB);
    color: var(--primary-logo);
}

@media(max-width:768px){

    .request__form
    {
        
        padding: 20px;
    }
    .request__form__send
{
   margin-bottom: 5px;
}

    .request__form__title
{
    font-size: 20px;
    /* margin-top: 10px; */
    position: relative!important;
}
    .request__form__list
{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}
.request__input
{
    width:80%;
    height:39px; 
}
.request__input:nth-child(1){
    margin-top: 40px;
    }

}
.request__form__title
{
    font-size: 20px;
    position: absolute;
    top:0.5rem;
    left: 0.5rem;
    /* margin-top: 10px; */
}
.header1
{
    visibility: visible;
    padding: 15px;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    position:fixed;
    height: 90px;
    width: 100%;
    transition: 1s;
    background-color: rgba(5,55,66, 0.9);
}