@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.contactUs__first > img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  opacity: 0.8;
}
.contactUs__main {
  position: relative;
  top: 85px;
  width: 100%;
  font-family: "Playfair Display", serif;
}
.contactUs__heading {
  position: absolute;
  border-top: 3px solid #053742;
  border-bottom: 3px solid #053742;
}
.contactUs__first {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contactUs__heading > h3 {
  font-size: 45px;
}
.contactUs__main1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactUs__left {
  width: 40%;
  height: 600px;
  margin: 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}
.contactUs__right {
  padding: 10px 0px 0px;
  width: 40%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.calll {
  color: black;
  width: 37px !important;
  height: 37px !important;
}
.contactUs__call {
  border-bottom: 1px solid #053742;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 100%;
}
.contactUs__call:nth-child(4) {
  border-bottom: none !important;
}
.contactUs__form > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: center;
}

.contactUs__form {
  width: 300px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.contactUs__form1 {
  margin: 10px 0 10px;
}
.contactUs__form__input {
  margin: 10px 0 10px;
  height: 100px;
  width: 200px;
  display: flex;
}
.contactUs__form__input > textarea {
  width: 100%;
  height: 100%;
  outline: none;
}
.contactUs__submit {
  background-color: #22abe3;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
  width: 80%;
  height: 40px;
  font-weight: 500;
}
.contactUs__submit:hover {
  color: black;
}
@media (max-width: 768px) {
  .contactUs__main1 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .contactUs__left {
    width: 100%;
  }
  .contactUs__right {
    width: 100%;
  }
  .contactUs__heading > h3 {
    font-size: 35px;
  }
  .contactUs__first > img {
    height: 13rem;
  }
}