.common__banner {
    background-size: cover !important;
    width: 100%;
    height: 500px;
    position: relative;
    /* margin-top: 5.3rem; */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.common__banner>h3 {
    font-size: 3em;
    color: #053742;
    /* border-bottom: 1px solid red; */
    background-color: rgba(255, 255, 255, 0.6);
    width: fit-content;
    /* border-radius: 5px; */
    padding: 5px;
    border-top: 1px solid #053742;
    border-bottom: 1px solid #053742;
}

@media(max-width:768px) {
    .common__banner {
        background-size: cover !important;
        height: 300px;
        background-position: center;
    }
    .common__banner>h3 {
        font-size: 1.9em;
        border-top: 2.5px solid #053742;
        border-bottom: 2.5px solid #053742;
    }
}